{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col justify-content-center d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <h3>New Client</h3>
                        <label for="username" class=" col-form-label">Client Name</label>
                        <div class="">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">Street Number</label>
                        <div class="">
                            {{ form.streetNumber }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">Street Name</label>
                        <div class="">
                            {{ form.streetName }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">City</label>
                        <div class="">
                            {{ form.city }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">State</label>
                        <div class="">
                            {{ form.state }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">Zip Code</label>
                        <div class="">
                            {{ form.zip }}
                        </div>
                    </div>
                    <div class="form-group row-3 mt-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <h3>Clients</h3>
                {% for client in clients %}
                    <div class="card m-3" style="width: 24rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ client.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ client.streetNumber }} {{ client.streetName }} {{ client.city }}
                                , {{ client.state }}, {{ client.zip }}</h6>
                            <img class="csimg"
                                 src="https://freepngimg.com/thumb/customer/1-2-customer-transparent.png"
                                 alt="">
                            <form action="{% url 'deleteClient' client.id %}" method="post">
                                {% csrf_token %}
                                <a href="{% url 'editClient' client.id %}" class="btn btn-primary">Edit</a>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
