{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Add new shipment!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="username" class="col-sm-2 col-form-label">User</label>
                                    <div class="col-sm-10">
                                        <label for="shippingVendor">{{ user.username }}</label>
                                        <input type="text" readonly class="form-control-plaintext" id="username"
                                               value="{{ user.id }}" name="user">
                                    </div>
                                    {#                                    <div class="form-group">#}
                                    {#                                        <label for="client">Client</label>#}
                                    {#                                        <input type="text" class="form-control" id="client"#}
                                    {#                                               aria-describedby="clientName" placeholder="Client Name" name="client">#}
                                    {#                                    </div>#}
                                    <div class="form-group">
                                        <select class="form-select" aria-label="Default select example"
                                                name="client">
                                            <option>Select an existing Client</option>
                                            {% for client in clients %}
                                                <option value="{{ client.id }}">{{ client.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="shippingVendor">Shipping Vendor</label>
                                        <input type="text" class="form-control" id="shippingVendor"
                                               aria-describedby="shippingVendor"
                                               placeholder="UPS, FedEx, UPS Freight, etc." name="shipping_vendor">
                                    </div>
                                    <div class="form-group">
                                        <label for="workOrder">Work Order</label>
                                        <input type="text" class="form-control" id="workOrder"
                                               aria-describedby="workOrder" name="work_order">
                                    </div>
                                    <div class="form-group">
                                        <label for="salesOrder">Sales Order</label>
                                        <input type="text" class="form-control" id="salesOrder"
                                               aria-describedby="salesOrder" name="sales_order">
                                    </div>
                                    <div class="form-group">
                                        <label for="partNumber">Part Number</label>
                                        <input type="text" class="form-control" id="partNumber"
                                               aria-describedby="partNumber" name="part_number">
                                    </div>
                                    <div class="form-group">
                                        <label for="serial_numbers">Serial Numbers</label>
                                        <input type="text" class="form-control" id="serial_numbers"
                                               aria-describedby="serial_numbers" name="serial_numbers">
                                    </div>

                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" id="quantity"
                                               aria-describedby="quantity" name="qnt">
                                        <label for="width">Width</label>
                                        <input type="number" class="form-control" id="width"
                                               aria-describedby="width" name="width">

                                        <label for="length">Length</label>
                                        <input type="number" class="form-control" id="length"
                                               aria-describedby="length" name="length">

                                        <label for="height">Height</label>
                                        <input type="number" class="form-control" id="height"
                                               aria-describedby="height" name="height">

                                        <label for="weight">Weight</label>
                                        <input type="number" class="form-control" id="weight"
                                               aria-describedby="weight" name="weight">

                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"  name="palletized">
                                            <label class="form-check-label" for="palletize">Palletized?</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row justify-content-xs-center">
                {% for shipment in shipments %}

                    <div class="col-xl-3 col-lg-4 col-sm-6 m-3 m-sm-5">
                        <div class="scard">
                          <div class="row float-right">
                        <form action="{% url 'deleteShipment' shipment.id %}">
                            {% if user.is_superuser %}
                                <a class="btn btn-success" href="{% url 'processShipment' shipment.id %}">Process</a>
                            {% endif %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                            <div class="qnt">{{ shipment.qnt }}</div>
                            <div class="id">{{ shipment.id }}</div>
                            <div class="weight">{{ shipment.weight }} LBS</div>
                            <img class="cimg"
                                 src="{% if shipment.palletized %} https://i.imgur.com/7LvH1LI.png {% else %} https://i.imgur.com/Y8sKr40.png{% endif %}"
                                 alt="">
                            <!-- https://i.imgur.com/7LvH1LI.png  -->
                            <!-- https://i.imgur.com/Y8sKr40.png -->
                            <div class="fxCol">
                                <div>
                                    <h1 class="title">{{ shipment.client }}</h1>
                                    <p class="para"><strong>Shipping Via: </strong>{{ shipment.shipping_vendor }}
                                    </p>
                                    <hr>
                                </div>
                                <div class="fxCol">
                                    <p class="para"><strong>Part Number: </strong> {{ shipment.part_number }}</p>
                                    <p class="para"><strong>Work Order: </strong> {{ shipment.work_order }}</p>
                                    <p class="para"><strong>Sales Order: </strong> {{ shipment.sales_order }}</p>
                                </div>
                                <div class="fxCol ">
                                    <p class="para"><strong>Serial Numbers: </strong></p>
                                    <div class="f">
                                        <p class="para">{{ shipment.serial_numbers }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="fxCol">
                                <div class="fxRow">
                                    <div class="fxCol">
                                        <h4>Dimensions:</h4>
                                        <p class="para"><strong>Width: </strong> {{ shipment.width }}</p>
                                        <p class="para"><strong>Length: </strong> {{ shipment.length }}</p>
                                        <p class="para"><strong>Height: </strong> {{ shipment.height }}</p>
                                    </div>
                                    <div class="fxCol">
                                        <h4>Information:</h4>
                                        <p class="para"><strong>Date Created: </strong> {{ shipment.date_created }}
                                        </p>
                                        <p class="para"><strong>Date
                                            Processed: </strong> {{ shipment.date_processed }}
                                        </p>
                                        <p class="para"><strong>Shipping
                                            Date: </strong> {{ shipment.date_shipping }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                {% endfor %}
            </div>
        </div>
{% endblock %}