{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
          <div class="col">
                <div class="card">
              <div class="qnt">12</div>
              <div class="id">12345-12345-12345-12345-12345</div>
              <div class="weight">999 LBS</div>
              <img src="https://i.imgur.com/Y8sKr40.png" alt="">
              <!-- https://i.imgur.com/7LvH1LI.png  -->
              <!-- https://i.imgur.com/Y8sKr40.png -->
              <div class="fxCol">
                <div>
                  <h1 class="title">Magnetic</h1>
                  <p class="para"><strong>Shipping Via: </strong>UPS</p>
                  <hr>
                </div>
                <div class="fxCol">
                  <p class="para"><strong>Part Number: </strong> 10009455</p>
                  <p class="para"><strong>Work Order: </strong> 2077</p>
                  <p class="para"><strong>Sales Order: </strong> 156512</p>
                </div>
                <div class="fxCol ">
                  <p class="para"><strong>Serial Numbers: </strong></p>
                  <div class="f">
                    <p class="para">1009410</p>
                    <p class="para">1009411</p>
                    <p class="para">1009412</p>
                    <p class="para">1009413</p>
                    <p class="para">1009414</p>
                    <p class="para">1009415</p>
                    <p class="para">1009416</p>
                    <p class="para">1009417</p>
                    <p class="para">1009418</p>
                    <p class="para">1009419</p>
                    <p class="para">1009420</p>
                    <p class="para">1009421</p>
                    <p class="para">1009422</p>
                    <p class="para">1009423</p>
                    <p class="para">1009424</p>
                    <p class="para">1009425</p>
                    <p class="para">1009426</p>
                    <p class="para">1009427</p>
                    <p class="para">1009428</p>
                    <p class="para">1009429</p>
                    <p class="para">1009430</p>
                    <p class="para">1009431</p>
                    <p class="para">1009432</p>
                    <p class="para">1009433</p>
                    <p class="para">1009434</p>
                    <p class="para">1009435</p>
                    <p class="para">1009436</p>
                    <p class="para">1009437</p>
                    <p class="para">1009438</p>
                    <p class="para">1009439</p>
                  </div>
                </div>
              </div>
              <div class="fxCol">
                <div class="fxRow">
                  <div class="fxCol">
                    <h4>Dimensions:</h4>
                    <p class="para"><strong>Width: </strong> 43"</p>
                    <p class="para"><strong>Length: </strong> 40"</p>
                    <p class="para"><strong>Height: </strong> 56"</p>
                  </div>
                  <div class="fxCol">
                    <h4>Information:</h4>
                    <p class="para"><strong>Date Created: </strong> 08/21/2021</p>
                    <p class="para"><strong>Date Processed: </strong> 08/21/2021</p>
                    <p class="para"><strong>Shipping Date: </strong> 08/29/2021</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
{% endblock %}