{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col justify-content-center d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <h3>Update Client</h3>
                        <label for="username" class=" col-form-label">Client Name</label>
                        <div class="">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">Street Number</label>
                        <div class="">
                            {{ form.streetNumber }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">Street Name</label>
                        <div class="">
                            {{ form.streetName }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">City</label>
                        <div class="">
                            {{ form.city }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">State</label>
                        <div class="">
                            {{ form.state }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class=" col-form-label">Zip Code</label>
                        <div class="">
                            {{ form.zip }}
                        </div>
                    </div>
                    <div class="form-group row-3 mt-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
